<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Active Portfolios</h2>
    <div class="row">
        {% for portfolio in active_portfolios %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <h5 class="card-header">{{  portfolio.title }}</h5>
                <div class="card-body">
                   
                    <p>Contact Email: {{ portfolio.contact_email }}</p>
                    <p>About: {{ portfolio.about }}</p>
                    <!-- Add other portfolio fields as needed -->
                    <div class="card-footer text-muted">
               
                        <a class="btn btn-secondary" href="{% url 'portfolio' portfolio.basemodel_ptr_id %}">View Portfolio</a>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
