{% extends "portfolio_app/base_template.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{title}}</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for key, value in attributes.items %}
                        <li class="list-group-item">
                            <strong>{{ key }}:</strong> {{ value }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <a class="btn btn-primary" href="{% url urlBase model.basemodel_ptr_id %}">Edit {{title}}</a> 
        </div>
        
    </div>
    
</div>
{% endblock %}
