{% extends "portfolio_app/base_template.html" %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ portfolio.title }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function confirmSubmission() {
            // Display a confirmation dialog
            var result = confirm("Are you sure you want to submit this form?");
            // If the user confirms, return true to submit the form
            return result;
        }
    </script>
</head>
<body>
    <div class="container mt-5">
        <h1>{{ portfolio.title }}</h1>
        <p>Contact Email: {{ portfolio.contact_email }}</p>
        <p>About: {{ portfolio.about }}</p>
        <h2>Projects</h2>
        <div class="row">
            {% for project in portfolio.projects.all %}
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-secondary" href="{% url 'ProjectDisplay' project.basemodel_ptr_id %}">View Project</a> 
                        <form action="{% url 'project_delete' project.basemodel_ptr_id portfolio.basemodel_ptr_id %}" %}" method="post" onsubmit="return confirmSubmission();">
                            {% csrf_token %}
                            <input type="submit" value="Delete Project" class="btn btn-secondary">
                        </form>
                        <a class="btn btn-secondary" href="{% url 'project_update' project.basemodel_ptr_id portfolio.basemodel_ptr_id %}">Edit Project</a> 
                    </div>
                </div>
            </div>
           
            
            {% empty %}
            <div class="col">
                <p>No projects found.</p>
            </div>
            {% endfor %}
            <a class="btn btn-secondary" href="{% url 'project_create' 0 portfolio.basemodel_ptr_id %}">New Project</a> 
        </div>

        <p>
            <!-- Link back to the portfolio list page or any other page as needed -->
        
        </p>
        <a class="btn btn-primary" href="{% url 'portfolio_update' portfolio.basemodel_ptr_id %}">Edit Portfolio</a> 
        <a class="btn btn-primary" href="{% url 'student' portfolio.basemodel_ptr_id %}">View Student</a> 
        <form action="{% url 'portfolio_delete' portfolio.basemodel_ptr_id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete Portfolio" class="btn btn-secondary">
        </form>

    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}